{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Home Banner -->
<section class="section section-search spaccee">
    <div class="container">
        <div class="banner-wrapper m-auto text-center aos" data-aos="fade-up" style="z-index: 3;">
            <div class="banner-header">
                <h1> <span>Contact</span></h1>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->


<section class="share-knowledge-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center ">
                <div class="knowledge-img-three aos " data-aos="fade-up">
                    <!-- <img src="{% static 'assets/img/join-3.png' %}" alt=""> -->

                    <div class="">                    <!-- col-lg-6 col-md-6 -->                
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info fs-5">
                                <div class="footer-address ">
                                    <span><i class="fas fa-map-marker-alt "></i></span>
                                    <p>Grand Anse, St George, Grenada. W.I. </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +1 473 419 9682
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    info@datanexis-tech.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <!-- Register Content -->
					<div class="account-content">
						<div class="account-box">
							<div class="login-right">
								<div class="login-header text-center">
									<h3><span>Message Us</span></h3>
									<p class="text-muted">We want hear from you</p>
								</div>
								
								<!-- Register Form -->
								<form action="#">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">First Name:</label>
												<input id="first-name" type="text" class="form-control" name="first_name" autofocus="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Last Name:</label>
												<input id="last-name" type="text" class="form-control" name="last_name">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label">Email Address:</label>
										<input id="email" type="email" class="form-control">
									</div>
                                    <div class="form-group">
										<label class="form-control-label">Message:</label>
										<textarea rows="4" class="form-control" placeholder="Type your message..."></textarea>
									</div>
									<!-- <div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Password</label>
												<input id="password" type="password" class="form-control" name="password">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Confirm Password</label>
												<input id="password-confirm" type="password" class="form-control" name="password_confirmation">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="form-check form-check-xs custom-checkbox">
											<input type="checkbox" class="form-check-input" name="agreeCheckboxUser" id="agree_checkbox_user">
											<label class="form-check-label" for="agree_checkbox_user">I agree to Mentoring</label> <a tabindex="-1" href="javascript:void(0);">Privacy Policy</a> &amp; <a tabindex="-1" href="javascript:void(0);"> Terms.</a>
										</div>
									</div> -->
									<button class="btn btn-primary login-btn" type="submit">Send</button>
									
								</form>
								<!-- /Register Form -->
								
							</div>
						</div>
					</div>
					<!-- /Register Content -->
            </div>
        </div>
    </div>
</section>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.5981221345287!2d-61.75846353041294!3d12.016477899263634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c382117b54557bd%3A0x9c6506c65081ba2c!2sBenoit%20Apartments!5e0!3m2!1sen!2s!4v1730682370319!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



{% endblock content %}