{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Home Banner -->
<section class="section section-search spaccee">
    <div class="container">
        <div class="banner-wrapper m-auto text-center aos" data-aos="fade-up" style="z-index: 3;">
            <div class="banner-header">
                <h1><span>Contact</span></h1>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<section class="share-knowledge-three">
    <div class="container">
        <div class="row">
            <!-- Contact Information -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="knowledge-img-three aos" data-aos="fade-up">
                    <div class="">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info fs-5">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p>Beausejour, St George, Grenada. W.I.</p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +1 473 534 5782
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    info@datanexis-tech.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                </div>
            </div>

<!-- Contact Form -->
<div class="col-md-6 d-flex align-items-center">
    <div class="account-content">
        <div class="account-box">
            <div class="login-right">
                <div class="login-header text-center">
                    <h3><span>Message Us</span></h3>
                    <p class="text-muted">We want to hear from you</p>
                </div>

                <!-- Form Feedback Messages -->
                {% if messages %}
                    <div class="row">
                        <div class="col-12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} form-group">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <!-- Custom Contact Form -->
                <form action="https://formspree.io/f/mdkkbvev" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="firstname">First Name:</label>
                            <input id="firstname" type="text" name="firstname" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="lastname">Last Name:</label>
                            <input id="lastname" type="text" name="lastname" class="form-control" required>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input id="email" type="email" name="email" class="form-control" required>
                    </div>
                
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
                    </div>

                    <!-- recaptcha -->
                    <div class="g-recaptcha" data-sitekey="6Lf92bYqAAAAABp6rgxAcTxvmTRb5Pu2WAp1RFb_"></div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                <!-- /Custom Contact Form -->
            </div>
        </div>
    </div>
</div>

            <!-- /Contact Form -->
        </div>
    </div>
</section>

<!-- Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d15605.02146118848!2d-61.75903324999999!3d12.0946625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2s!4v1736821968367!5m2!1sen!2s" 
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock content %}
